/* Your app styles here */
 .md .statusbar-margin{
        height: 24px;
        background-color: grey;
    }
.ios .statusbar-margin{

    height: 0px;
    background-color: grey;
}

.md .toolbar-margin{
  margin-bottom: 24px;
}
.ios .toolbar-margin{
  margin-bottom: 0px;
}


    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }


    p,button,h1,h2,h3,h4,h5,a,.title, .block-title{
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }


.queue-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.queue-card-header-pic .card-content-padding .address{
  color: #8e8e93;
}


    .md .center, .ios .center{
          float: center;
          text-align: center;
    }

    img{
      background-image: ('../img/img-loading.gif');
    }

